<section class="features">
    <div class="container features-container">
      <ul class="features-list">
        <li class="features-list-item">
          <p class="features-title">721</p>
          <p class="features-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
  
        <li class="features-list-item">
          <p class="features-title">16kg</p>
          <p class="features-list-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="features-list-item">
          <p class="features-title">84</p>
          <p class="features-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </section>