<footer class="footer">
    <h2 class="footer-title">homemade ice cream made</h2>
    <h2 class="footer-title-part">with passion</h2>
    <img src="../img/github.svg" alt="github" class="github-img">
    <img src="../img/telegram.svg" alt="telegram" class="telegram-img">
    <img src="../img/facebook.svg" alt="facebook" class="facebook-img">
    <p class="footer-contact">Feel free to contact <span class="footer-tel">+61 (0) 383 766 284</span></p> 
    <p class="footer-rights">© 2022 - IceCream. All Rights Reserved.</p>
</footer>