<footer class="footer">
  <div class="container">
    <div class="footer-wraper">
      <div class="footer-title-all">
        <h2 class="footer-title">homemade ice cream made</h2>
        <h2 class="footer-title-part">with passion</h2>
      </div>
      <div class="footer-info">
        <ul class="footer-list">
          <li class="footer-item">
            <img src="./img/github.svg" alt="github" class="github-img" />
          </li>
          <li class="footer-item">
            <img
              src="./img/telegram.svg"
              alt="telegram"
              class="telegram-img"
            />
          </li>
          <li class="footer-item">
            <img
              src="./img/facebook.svg"
              alt="facebook"
              class="facebook-img"
            />
          </li>
        </ul>
        <a href="tel: +61 (0) 383 766 284" class="footer-contact">
          Feel free to contact
          <span class="footer-tel">+61 (0) 383 766 284</span>
        </a>
      </div>
    </div>
    <p class="footer-rights">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
