<section class="hero">
    <div class="hero-box container">
        <h1 class="hero-title">ice cream
            made with
            passion</h1>
        <ul>
            <li class="group-item">
        <h2 class="group-h2">16</h2>
        <p class="group-p">cafes</p>
    </li>
    <li class="group-item">
            <h2 class="group-h2">23</h2>
            <p class="group-p">food trucks</p>
        </li>
    </ul>
    <ul>
        <li>
        <a href="./products.html" class="menu-link">Products</a>
        </li>
        <li>
        <a href="./how-its-made.html" class="menu-link">How it’s made?</a>
        </li>
    </ul>
    <img src="../img/many-icecr.jpg" alt="">
    <p class="arrow">Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable experience!</p>
    </div>
</section>