<section>
    <div>
        <h2>ice cream
            made with
            passion</h2>
        <ul>
            <li>
    
        <h2>16</h2>
        <p>cafes</p>
    </li>
    <li>
            <h2>23</h2>
            <p>food trucks</p>
        </li>
    </ul>
    <ul>
        <li>
        <a href="./products.html" class="menu-link">Products</a>
        </li>
        <li>
        <a href="./how-its-made.html" class="menu-link">How it’s made?</a>
        </li>
    </ul>
    <img src="../img/many-icecr.jpg" alt="">
    <p>Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable experience!</p>
    </div>
</section>