<section class="locations">
    <ul class="locations-list">
        <li class="locations-item">
            <article class="locations-cafe">
                <h1 class="cafe-title">CAFE</h1>
                <h2 class="cafe-subtitle">Chicago</h2>
                <address class="cafe-address">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</address>
                <ul class="schedule-list">
                    <li class="schedule-item">
                        <p class="schedule-day">Monday - Friday</p>
                        <p class="schedule-time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="schedule-item">
                        <p class="schedule-day">Saturday - Sunday</p>
                        <p class="schedule-time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <a href="tel: +61(0) 383 766 284" class="locations-tel">+61(0) 383 766 284</a>
                <a href="mailto: noreply@envato.com" class="locations-mail">noreply@envato.com</a>
            </article>
        </li>
        <li class="locations-item">
            <article class="locations-truck">
                <h1 class="truck-title">FOOD TRUCK</h1>
                <h2 class="truck-subtitle">Los Angeles</h2>
                <address class="truck-address">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</address>
                <ul class="schedule-list">
                    <li class="schedule-item">
                        <p class="schedule-day">Monday - Friday</p>
                        <p class="schedule-time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="schedule-item">
                        <p class="schedule-day">Saturday - Sunday</p>
                        <p class="schedule-time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <a href="tel: +61(0) 383 766 284" class="locations-tel">+61(0) 383 766 284</a>
                <a href="mailto: noreply@envato.com" class="locations-mail">noreply@envato.com</a>
            </article>
        </li>
        <li class="locations-item">
            <article class="locations-cafe_ny">
                <h1 class="cafe_ny-title">CAFE</h1>
                <h2 class="cafe_nysubtitle">New York</h2>
                <address class="cafe_ny-address">726 Sterling Pl, Brooklyn, NY 11222, USA</address>
                <ul class="schedule-list">
                    <li class="schedule-item">
                        <p class="schedule-day">Monday - Friday</p>
                        <p class="schedule-time">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="schedule-item">
                        <p class="schedule-day">Saturday - Sunday</p>
                        <p class="schedule-time">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <a href="tel: +61(0) 383 766 284" class="locations-tel">+61(0) 383 766 284</a>
                <a href="mailto: noreply@envato.com" class="locations-mail">noreply@envato.com</a>
            </article>
        </li>
    </ul>
    <button type="button" class="locations-all">Our Locations</button>
    <button type="button" class="locations-franchise">Franchise</button>
</section>