<section class="products" id="products">
    <div class="container">
        <p class="100%">100% natural</p>
        <h2 class="produts-title">products</h2>

        <ul>
            <li class="product-card">
                <img src="" alt="ice-cream" class="img-product">
                <h2 class="card-title">ice cream</h2>
                <p class="card-text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural
                    stabilizer
                </p>
            </li>
            <li class="product-card2">
                <img src="" alt="ice-cream" class="img-product">
                <h2 class="card-title">ice coffee</h2>
                <p class="card-text">Fragrant invigorating drink created from 100% natural ingredients without the use
                    of preservatives and flavor enhancers
                </p>
            </li>
            <li class="product-card3">
                <img src="" alt="ice-cream" class="img-product">
                <h2 class="card-title">milkshakes</h2>
                <p class="card-text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries
                    and other sweets of your choice
                </p>
            </li>
        </ul>




    </div>
</section>