<section class="rate">
  <div class="container reviews-container">
    <img
      class="review-picture"
      src="./src/img/icecreame-picture.png"
      alt="icecreame-picture"
    />
    <img
      class="review-avatar"
      src="./src/img/client-avatar.png"
      alt="client-avatar"
    />
    <p class="reviews-text">
      I love visiting your cafe. You prepare the most delicious ice cream in Los
      Angeles! In addition, you have beautiful serving, cozy atmosphere and
      polite staff.
    </p>
    <p class="reviews-name">Emily, Los Angeles</p>
    <ul class="reviews-dots">
      <li class="reviews-dot"></li>
      <li class="reviews-dot"></li>
      <li class="reviews-dot"></li>
    </ul>
  </div>
</section>
