<section class="rate">
  <div class="container reviews-container">
    <div class="rate-movement">
      <div class="rate-moving">
        <input type="radio" name="r" id="r1" checked />
        
        <input type="radio" name="r" id="r2" />
        <input type="radio" name="r" id="r3" />

        
        <div class="rate-picture s1">
          <img
            src="./img/reviews-img-1.webp"
            alt="many ice cream"
            class="rate-img"
          />
          <img src="./img/person-1.webp" alt="person 1" class="rate-avatar" />
          <div class="rate-text">
            <p class="rate-comment">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
            
          </div>
          <p class="rate-name">Emily, Los Angeles</p>
        </div>
        <div class="rate-picture">
          <img
            src="./img/reviews-img-2.webp"
            alt="many ice cream"
            class="rate-img"
          />
          
          <img src="./img/person-2.webp" alt="person 1" class="rat-avatar" />
          <p class="rate-comment">
      
          </p>
          
          <p class="rate-name">Diana, Chicago</p>
        </div>
        
        <div class="rate-picture">
          <img
            src="./img/reviews-img-3.webp"
            alt="many ice cream"
            class="rate-img"
          />
          <img src="./img/person-3.webp" alt="person 1" class="rat-avatar" />
          <p class="rate-comment">
          </p>
          
          <p class="rate-name">Bryan, New-Yor</p>
        </div>
        
      </div>
      
      <div class="rate-navigation">
        <label class="rate-dot" for="r1" for="r11"></label>
        
        <label class="rate-dot" for="r2" for="r22"></label>
        
        <label class="rate-dot" for="r3" for="r33"></label>
      </div>
    </div>
    
  </div>

  
</section>



