<section class="rate" id="rate">
    <div class="container">
  <img class="review-picture" src="./src/img/icecreame-picture.png" alt="icecreame-picture">
        <div class="review">
            <img class="review-avatar" src="./src/img/client-avatar.png" alt="client-avatar">
            <p class="review-text">
                I love visiting your cafe. You prepare the most delicious ice cream in
                 Los Angeles! In addition, you have beautiful serving, cozy atmosphere 
                                           and polite staff.
            </p>
            <h2 class="review-name">
              Emily, Los Angeles
            </p>
            <img class="review-avatar" src="./src/img/hr-dots.svg" alt="hr-dots">
        </div>
    </div>
  </section>
  