.header {
    background: #84A178;
}

.header-box {
   display: flex;
   align-items: center;
justify-content: space-between;
}

.menu-list {
    display: flex;
    gap: 28px;
    padding-left: 308px;
    padding-right: 205px;
    
}

.menu-item {
    color: #FCFCFC;

font-size: 16px;
font-weight: 700;
line-height: normal;
}

.menu-link:hover,
.menu-link:focus{
color: var(--text-color);
}

.header-btn {
    color: #000;
text-align: center;
font-size: 14px;

font-weight: 600;
border-radius: 10px;
background: var(--text-color);
padding: 12px 36px;
border: none;
display: flex;
gap: 4px;
align-items: center;
}