.header {
    background: #84A178;
}

.header-box {
    font-family: Montserrat;
}

.menu-item {
    color: #FCFCFC;

font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}