.header {
    padding-top: 8px;
    background: #84A178;
    
}

.header-box {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    
}

.logo {
    margin-right: 308px;
    
}

.menu-list {
    display: flex;
    
    
height: 20px;
gap: 28px;

}

.menu-item {
    
    color: #FCFCFC;

font-family: Montserrat;

font-weight: 700;
line-height: normal;

}

.header-btn {
    margin-left: 205px;
    color: #000;

text-align: center;
font-family: Montserrat;
font-size: 14px;
font-weight: 600;
line-height: normal;
border-radius: 10px;
background: #F8D24E;

width: 152px;
height: 42px;
flex-shrink: 0;
}

.header-btn {
    border: none;
}