.hero {
    
    background-image: url(../img/hero-bg.png);
     background-image: url(../img/hero-icecr.jpg); 
     background: #84A178;
}   



.hero-title {
    padding-top: 40px;
    color: #FCFCFC;

font-family: Seymour One;
font-size: 38px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.52px;
text-transform: uppercase;
width: 367px;
margin-right: 749px;
}



.group-item {
    display: flex;
    width: 89px;
    justify-content: flex-end;
    flex-wrap: wrap;
    
}


.group-numbers {
    color: #131313;


font-family: Montserrat;

text-align: right;
    font-size: 46px;
    font-weight: 900;
    letter-spacing: 1.84px;
    text-transform: uppercase;
margin-left: auto;
}

.group-building {
    color: #FCFCFC;


font-family: Montserrat;
font-size: 14px;
    font-weight: 400;
    padding-bottom: 16px;
    text-align: right;
}



.other-sections {
    display: flex;
    align-items: center;
}

.other-sections-item {
    margin-right: 12px;
    
}

.menu-link2 {
    color: #F8D24E;

text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
text-decoration-line: underline;
}

.menu-link-btn {
    width: 134px;
    height: 42px;
    
    color: var(--black-color);
    background-color:  #84A178;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 128.571%;
    border: none;
}

.many-ice-cream {
    display: flex;
    padding-bottom: 65px;
    align-items: center;
}

.arrow {
    display: flex;
    color: #FFF;

font-family: DM Sans;
font-size: 14px;
font-weight: 400;
line-height: 140%;
width: 200px;
margin-left: 16px;


}