.locations {
  background-color: var(--bg-color);
}

.locations-container {
  position: relative;
  top: -128px;
}

.locations-list {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.locations-item {
  box-sizing: border-box;
  width: 368px;
  height: 542px;
  border-radius: 24px;
  background: var(--second-text-color);
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  padding: 40px;
}

.cafe-title {
  color: var(--black-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.64px;
}

.cafe-bg {
  padding: 4px 0;
  max-width: 76px;
  border-radius: 6px;
  background: #f8d24e;
}

.cafetruck-bg {
  max-width: 148px;
  padding: 4px 0;
  border-radius: 6px;
  background: #f8d24e;
}

.cafe-subtitle {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.64px;
  margin-top: 32px;
}

.cafe-address {
  color: var(--products-three);
  font-size: 16px;
  font-weight: 500;
  line-height: 183%;
  letter-spacing: 0.64px;
  margin-top: 8px;
}

.cafe-address:hover {
    text-decoration: underline;
}

.schedule-list {
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  margin: 32px 0;
  padding: 32px 0;
}

.schedule-day {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.64px;
}

.schedule-weekend {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
  letter-spacing: 0.64px;
  margin-top: 12px;
}

.schedule-time {
  color: #ababab;
  font-size: 16px;
  font-weight: 500;
  line-height: 186%;
}

.locations-info {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.btn-center {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.locations-all {
  color: var(--black-color);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 128.571%;
  padding: 12px 40px;
  border-radius: 10px;
  border: none;
  background-color: var(--text-color);
  vertical-align: middle;
  display: flex;
  align-items: center;
  gap: 4px;
}

.locations-all:hover {
  background-color: var(--hover-color);
}

.locations-franchise {
  color: var(--black-color);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 128.571%;
  padding: 10px 53px;
  border-radius: 10px;
  border: 2px solid var(--text-color);
  background-color: transparent;
  vertical-align: middle;
  display: flex;
  align-items: center;
  gap: 4px;
}

.locations-franchise:hover {
  border: 2px solid var(--hover-color);
}