
.products {
background-image: url(../img/icecr-bg.png);
background-repeat: no-repeat;
background-size: 100%;
padding-top: 60px;
padding-bottom: 20px;
}

.natural {
    color: var(--other-text-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.produts-title{
    color: var(--other-text-color);
    text-align: center;
    font-family: Seymour One;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 2.16px;
    text-transform: uppercase;
    margin-bottom: 240px;
}

.img-product{
padding-left: 34px;
padding-right: 34px;
position: relative;
bottom:151px;
}

.img-product2 {
    padding-left: 34px;
    padding-right: 34px;
    position: relative;
bottom:151px;
}

.img-product3{
    padding-left: 34px;
    padding-right: 34px;
position: relative;
bottom:151px;
}

.product-list{
    display: flex;
    gap: 29px;
    justify-content: center;
}

.product-card {
    border-radius: 24px;
background-color: var(--products-one);
box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);
width: 370px;

padding-bottom: 126px;
}

.product-card2{
    border-radius: 24px;
background-color: var(--products-two);
width: 370px;

padding-bottom: 126px;
}

.product-card3{
    border-radius: 24px;
background-color: var(--products-three);

padding-bottom: 126px;

}

.card-title {
    color: var(--other-text-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.card-text {
    color: var(--other-text-color);
    width: 242px;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
line-height: 1.76;
letter-spacing: 0.64px;
margin-top: 66px;
padding-left: 64px;
padding-right: 64px;
}