.rate {
  background-image: url(../img/bg-ice-cream.webp);
  background-repeat: no-repeat;
  background-color: var(--additional);
  padding-top: 464px;
  background-size: cover;
  padding-bottom: 228px;
}




.rate-dot:hover {
  background-color: var(--bg-color);
}

.rate-avatar {
  margin-top: 140px;
  border-radius: 50%;
  margin: 0 auto;
}


#r2:checked ~ .s1 {
  margin-left: -33.3333333%;
}


.rate-comment {
  color: var(--second-text-color);
  max-width: 750px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  line-height: 1.86;
  margin-right: auto;
  text-align: center;
  margin-left: auto;
}

.rate-moving {
  width: 300%;
  display: flex;
  height: 100%;
}

#r3:checked ~ .s1 {
  margin-left: -66.6666666%;
}

.rate-name {
  color: var(--text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  margin-top: 32px;
  text-align: center;
}

.reviews-container {
  position: relative;
  height: 360px;
}

input[type='radio'] {
  visibility: hidden;
  position: absolute;
}

.rate-movement {
  width: 1013px;
  left: 93px;
  position: absolute;
  height: 923px;
  overflow: hidden;
  margin: 0 auto;
  bottom: 0;
}


.rate-picture {
  position: relative;
  transition: all 0.7s ease;
  width: 33.3333333%;
}

.rate-dot {
  background-color: #D9D9D9;;
  height: 12px;
  background-color: #D9D9D9;
  border-radius: 12px;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 12px;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

.rate-navigation {
  position: absolute;
  gap: 18px;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
}

.rate-text {
  margin-right: auto;
  padding: 43px 0;
  margin-left: auto;
  background-color: var(--bg-color);
  margin-top: 32px;
  max-width: 968px;
  max-height: 138px;
  border-radius: 24px;
  box-sizing: content-box;
  text-align: center;
}


