@import url("./reset.css");
@import url("./header.css");
@import url("./hero.css");
@import url("./products.css");
@import url("./how-its-made.css");
@import url("./features.css");
@import url("./rate");
@import url("./locations.css");
@import url("./footer.css");

:root {
    --bg-color: #84A178;
    --text-color: #F8D24E;
    --second-text-color: #FCFCFC;
    --other-text-color: #131313;
    --products-one: #AEC6A5;
    --products-two: #EFD478;
    --products-three: #D6936D;
    --footer-mark: #7A7A7A;
}
.container {
  width: 1440px;
  flex-shrink: 0;
  /* outline: solid red; */
  /* margin-left: auto;
  margin-right: auto; */
}

.header-box {
  display: flex;
}

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
